/*
 *= require admin/spree_backend
*/

#stock-removals {
  #no_charge_payment {
    #no_charge_note_field {
      label {
        display: block;
      }

      input[type=text] {
        width: 100%;
      }
    }
  }

  #stock_field {
    input[type=text] {
      width: 45px;
    }
  }
}

#admin_stock_removal {
  margin-right: 5px;
}

#admin_stock_removal {
  margin-right: 5px;
}
